#list-courses{
  list-style: none;  
}

#list-courses li{
  margin-bottom: 40px;
}

#list-courses .course-name{
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
}

#list-courses .order-number{
  font-weight: 500;
  background-color: #301f49;
  color: white;
  padding: 8px 12px;
}

#list-courses .order-number:hover{
  cursor: pointer;
}

#courses-orders .container-actions .button{
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
}

.footer-container{
  display: flex;
}

.footer-container > section{
  width: 50%;
}

.footer-container .pagination-container{
  text-align: right;
}

.footer-container .pagination-container a{
  padding:10px;
}

.container-actions.disabled a,
.footer-container .pagination-container a.disabled{
  pointer-events: none;
  opacity: .5;
}

.footer-container .fullwidth{
  width:100%;
}

.no-items{
    margin:20px 0;
}

/* orders screen */
.flexible-payment{
  text-align: right;
  margin-bottom: 20px;
}

.multiseparator{
  display: none;
}

.stm_lms_user_info_top{
  margin-bottom: 0;
}

#orders-user .container-actions .button{
  margin: 4px;
  padding: 2px;
  font-size: 10px;
  font-weight: 500;
  min-width: 100px;
}

#attachment-container .uploaded-files .order-resume {
  display: flex;
  justify-content: space-between;
}

#attachment-container .no-items{
  background-color: #f0f0f0;
  padding:16px;
  margin-top: 0;
}


#attach-form,
#attachment-container ul{
  background-color:#f0f0f0;
  padding:24px 26px;
  color:black;
}

#attachment-container .uploaded-files{
  margin-bottom: 30px;
}

#attach-form{
  margin-bottom: 15px;
}

#attachment-container ul li{
  margin:0;
}

#attachment-container #message{
  color:white;
  padding:14px;
}

#attachment-container #message.error{
  background-color:darkred;
}

#attachment-container #message.success{
  background-color:green;
}

.uploaded-files .fa-minus-circle{
  color:darkred;
}

.uploaded-files ul{
  list-style: none;
}

.uploaded-files ul li{
  display: flex;
  justify-content:space-around;
}
.uploaded-files ul li div{
  width: 90%;
}

.uploaded-files ul li{
  margin-left: -10px!important;
}

.uploaded-files a.removing:after{
  content:" Eliminando...";
}

.uploaded-files a.removing{
  pointer-events: none;
}

#attach-form > div{
  display: flex;
  margin: 15px 0;
}

#attach-form > div span{
  display: inline-block;
  margin-right: 10px;
}


#my-orders .woocommerce-table--order-details tfoot tr:first-child{
  display: none;
}


@media(max-width:780px){
  #attach-form > div{
    display: block;
  }
  #attach-form > div span{
    display: block;
    margin-bottom: 10px;
  }
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    margin: 4px;
    border: 4px solid #0b4e78;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0b4e78 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }




.order-detail .order-resume{
  margin:40px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}


.order-detail .order_details.shop_table{
  margin-bottom: 50px;
}

.order-detail .order_details.shop_table,
.order-detail .order_details.shop_table td{
  border:1px solid #ccc;
  max-width: 800px;
}

.order-detail .woocommerce_deposits_parent_order_summary th,
.order-detail .order_details.shop_table th{
  padding:5px 10px;
  background-color:#555;
  color:white;
}

.order-detail .order_details.shop_table tfoot th{
  background-color:#eee;
  color:grey;
}

.order-detail .order_details.shop_table tfoot th{
  background-color:white;
}

.order-detail .order_details.shop_table tfoot td{
  padding:5px;
}

.order-detail .woocommerce_deposits_parent_order_summary{
  max-width: 800px;
  margin-bottom: 50px;
}

.order-detail .order_details .woocommerce-table__product-name a{
  pointer-events: none;
  cursor: default;
  color:black;
}

@media(max-width:992px){
  .order-detail .order-resume{
    line-height: 26px;
    display: block;
  }

  .order-detail .order-resume > div:last-child{
    margin-top: 16px;
    text-align: right;
  }

}



/* Dropdown Button Flexible Payments*/

.btn-drop:hover, .btn-drop:focus {
  background-color: #2980B9;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right:0;
  min-width:210px;
  text-align: left;
}

.dropdown-content a {
  color: white;
  background: #2b2039;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color:white!important;
  background-color: black;
}

.show {display:block;}

@media(max-width:780px){
  .flexible-payment{
    text-align: left;
    margin-top: 10px;
  }
}