.footer-container{
  display: flex;
}

.footer-container > section{
  width: 50%;
}

.footer-container .pagination-container{
  text-align: right;
}

.footer-container .pagination-container a{
  padding:10px;
}

.container-actions.disabled a,
.footer-container .pagination-container a.disabled{
  pointer-events: none;
  opacity: .5;
}

.footer-container .fullwidth{
  width:100%;
}

.no-items{
    margin:20px 0;
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    margin: 4px;
    border: 4px solid #0b4e78;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0b4e78 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
